{
  "api_url": "http://localhost:8080",
  "alerts_url": "https://api-v3.mbta.com/alerts",
  "show_alerts": true,
  "stops": [
    {
      "stop_id": "place-sstat",
      "route_filter": "",
      "direction_filter": -1,
      "transit_time_min": 15,
      "show_on_display": true
    }
  ]
}
