annotated-types==0.7.0
async-timeout==5.0.1
gpiod==2.3.0
gpiodevice==0.0.5
inky==2.1.0
numpy==2.3.1
pillow==11.2.1
pydantic==2.11.7
pydantic_core==2.33.2
redis==6.2.0
ruff==0.11.13
smbus2==0.5.0
sortedcontainers==2.4.0
spidev==3.7
tenacity==9.1.2
typing_extensions==4.14.0
