[Unit]
Description=run inky-display
After=network.target

[Service]
ExecStart=/home/ryan/.local/bin/uv run --env-file .env inky-display/main.py
WorkingDirectory=/home/ryan/git/inky-display
Restart=always

[Install]
WantedBy=default.target
