name: check

on:
  push:
    branches: ["main"]
  pull_request:
  merge_group:


jobs:
  check:
    name: check
    runs-on: ubuntu-latest
    steps:
      - name: Setup Task
        uses: illbjorn/setup-task@main
      - name: Install uv
        uses: astral-sh/setup-uv@803947b9bd8e9f986429fa0c5a41c367cd732b41 # v7
      - uses: actions/checkout@master
      - name: Perform check
        shell: bash
        run: uv sync && task check
