name: check

on:
  push:
    branches: ["main"]
  pull_request:
  merge_group:


jobs:
  check:
    name: check
    runs-on: ubuntu-latest
    steps:
      - name: Setup Task
        uses: illbjorn/setup-task@main
      - name: Install uv
        uses: astral-sh/setup-uv@85856786d1ce8acfbcc2f13a5f3fbd6b938f9f41 # v7
      - uses: actions/checkout@master
      - name: Perform check
        shell: bash
        run: uv sync && task check
